/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  background: white;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.container h1 {
  animation: framePulse 2s infinite;
}

.message-box {
  height: 200px;
  width: 400px;
  background: #74b9ff;
  box-shadow: 0 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.message-box div {
  font-size: 24px;
}

.button-box {
  min-height: 200px;
  max-width: 600px;
}

.button-box a {
  font-size: 96px;
  margin: 20px;
}

.fas {
  transition: all 0.5s;
}

.fas:hover {
  transform: scale(1.4);
}

#play-rock {
  color: #1b1464;
}

#play-scissors {
  color: #6c5ce7;
}

#play-paper {
  color: #ffeaa7;
}

.result {
  height: 200px;
  font-size: 48px;
}
