/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  background: white;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-box {
  height: 200px;
  width: 400px;
  margin-top: 50px;
  border: 1.5px solid #888;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  div {
    font-size: 24px;
  }

  @media (max-width: 780px) {
    width: 300px;
  }
}

.button-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40%;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;

  @media (max-width: 600px) {
    padding: 0;
  }

  & a {
    height: 100%;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: flex-end;

    @media (max-width: 600px) {
      width: 33%;
    }

    &:hover {
      transform: scale(1.05);
    }

    & img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#player-result,
#comp-result {
  position: fixed;
  top: 25%;
  left: 15%;
  padding: 16px;
  font-size: 36px;
  z-index: 2;

  @media (max-width: 1200px) {
    left: 5%;
    font-size: 24px;
  }

  @media (max-width: 780px) {
    top: 65%;
  }
}

#comp-result {
  left: auto;
  right: 15%;

  @media (max-width: 1024px) {
    right: 5%;
    font-size: 24px;
  }
}
