/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  background: white;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-box {
  height: 200px;
  width: 400px;
  background: #74b9ff;
  box-shadow: 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    font-size: 24px;
  }
}

.button-box {
  min-height: 200px;
  max-width: 600px;
  a {
    font-size: 96px;
    margin: 20px;
  }
}

.fas {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.4);
  }
}

#play-rock {
  color: #1b1464;
}

#play-scissors {
  color: #6c5ce7;
}

#play-paper {
  color: #ffeaa7;
}
